/* line 22, APKT.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0; }

/* line 26, APKT.scss */
html {
  line-height: 1; }

/* line 29, APKT.scss */
ol, ul {
  list-style: none; }

/* line 32, APKT.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 35, APKT.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 38, APKT.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../Program Files (x86)/Koala/rubygems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 41, APKT.scss */
a img {
  border: none; }

/* line 116, ../../../Program Files (x86)/Koala/rubygems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 47, APKT.scss */
* {
  color: #0022b4;
  border-color: #0022b4;
  font-size: 1em;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.5; }

/* line 56, APKT.scss */
body {
  background-color: white; }

/* line 61, APKT.scss */
h1 {
  width: 80%;
  color: #ffc82d;
  background-color: #0022b4;
  font-weight: bold;
  font-variant: small-caps;
  margin: 0.5em auto 0.5em auto;
  padding: 0.5em; }

/* line 61, APKT.scss */
h2 {
  width: 75%;
  color: #ffc82d;
  background-color: #0022b4;
  font-weight: bold;
  font-variant: small-caps;
  margin: 0.5em auto 0.5em auto;
  padding: 0.5em; }

/* line 61, APKT.scss */
h3 {
  width: 70%;
  color: #ffc82d;
  background-color: #0022b4;
  font-weight: bold;
  font-variant: small-caps;
  margin: 0.5em auto 0.5em auto;
  padding: 0.5em; }

/* line 61, APKT.scss */
h4 {
  width: 65%;
  color: #ffc82d;
  background-color: #0022b4;
  font-weight: bold;
  font-variant: small-caps;
  margin: 0.5em auto 0.5em auto;
  padding: 0.5em; }

/* line 61, APKT.scss */
h5 {
  width: 60%;
  color: #ffc82d;
  background-color: #0022b4;
  font-weight: bold;
  font-variant: small-caps;
  margin: 0.5em auto 0.5em auto;
  padding: 0.5em; }

/* line 61, APKT.scss */
h6 {
  width: 55%;
  color: #ffc82d;
  background-color: #0022b4;
  font-weight: bold;
  font-variant: small-caps;
  margin: 0.5em auto 0.5em auto;
  padding: 0.5em; }

/* line 73, APKT.scss */
h1 {
  text-align: center;
  font-size: 2.75em;
  font-weight: 900;
  line-height: 3; }

/* line 81, APKT.scss */
h2 {
  text-align: center;
  font-size: 1.25em; }

/* line 86, APKT.scss */
sub {
  vertical-align: sub;
  font-size: 75%; }

/* line 91, APKT.scss */
input, select, textarea {
  color: #0022b4;
  background-color: white;
  margin: 0.125em;
  padding: 0.125em;
  border-style: solid;
  border-width: 2px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

/* line 103, APKT.scss */
dl {
  overflow: hidden;
  *zoom: 1; }

/* line 106, APKT.scss */
dt {
  float: left;
  clear: left;
  text-align: right; }

/* line 112, APKT.scss */
.ValueBlock {
  display: inline-block;
  vertical-align: top; }
  /* line 115, APKT.scss */
  .ValueBlock dl, .ValueBlock .ValueBlockProper {
    background-color: #fff9ea;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAGJQAABiUBMqobTgAAABZ0RVh0U29mdHdhcmUAcGFpbnQubmV0IDQuMDvo9WkAAAAsSURBVBhXY/j//789EMMAiM0AEoQBsACIhgnCBUAcGAMuAAIgDorA////7QHyZVcip7QasAAAAABJRU5ErkJggg==);
    background-repeat: repeat;
    border-color: #e8000d;
    border-style: ridge; }
  /* line 126, APKT.scss */
  .ValueBlock dt {
    height: 3em;
    line-height: 3;
    font-size: 1.5em; }
    /* line 133, APKT.scss */
    .ValueBlock dt::after {
      content: ":"; }
  /* line 137, APKT.scss */
  .ValueBlock dd {
    height: 3em;
    line-height: 3;
    font-size: 1.5em; }
    /* line 144, APKT.scss */
    .ValueBlock dd input {
      width: 5em; }
    /* line 147, APKT.scss */
    .ValueBlock dd select {
      width: 7.5em; }
    /* line 150, APKT.scss */
    .ValueBlock dd input, .ValueBlock dd select {
      height: 1.875em; }

/* line 155, APKT.scss */
.Untouched {
  background-color: #f2a980; }

/* line 159, APKT.scss */
body.InitialMode .HideInInitialMode {
  display: none; }

/* line 162, APKT.scss */
body.PeakTroughMode .HideInPeakTroughMode {
  display: none; }

/* line 165, APKT.scss */
body.ZaskeMode .HideInZaskeMode {
  display: none; }

/* line 169, APKT.scss */
.HighlightIfDosingWeightShouldBeActualWeight, .HighlightIfDosingWeightShouldBeIdealWeight, .HighlightIfDosingWeightShouldBeAdjustedWeight {
  color: rgba(0, 34, 180, 0.5); }
  /* line 171, APKT.scss */
  .HighlightIfDosingWeightShouldBeActualWeight span, .HighlightIfDosingWeightShouldBeIdealWeight span, .HighlightIfDosingWeightShouldBeAdjustedWeight span {
    color: rgba(0, 34, 180, 0.5); }

/* line 177, APKT.scss */
body.DosingWeightShouldBeActualWeight .HighlightIfDosingWeightShouldBeActualWeight,
body.DosingWeightShouldBeIdealWeight .HighlightIfDosingWeightShouldBeIdealWeight,
body.DosingWeightShouldBeAdjustedWeight .HighlightIfDosingWeightShouldBeAdjustedWeight {
  color: #0022b4; }
  /* line 179, APKT.scss */
  body.DosingWeightShouldBeActualWeight .HighlightIfDosingWeightShouldBeActualWeight span,
  body.DosingWeightShouldBeIdealWeight .HighlightIfDosingWeightShouldBeIdealWeight span,
  body.DosingWeightShouldBeAdjustedWeight .HighlightIfDosingWeightShouldBeAdjustedWeight span {
    color: #0022b4; }

/* line 185, APKT.scss */
body.DosingWeightShouldBeActualWeight dt.HighlightIfDosingWeightShouldBeActualWeight,
body.DosingWeightShouldBeIdealWeight dt.HighlightIfDosingWeightShouldBeIdealWeight,
body.DosingWeightShouldBeAdjustedWeight dt.HighlightIfDosingWeightShouldBeAdjustedWeight {
  font-weight: bold; }

/* line 189, APKT.scss */
.ui-datepicker {
  background: white;
  border-color: #0022b4;
  width: 20em;
  min-width: 50%;
  max-width: 95%; }
  /* line 195, APKT.scss */
  .ui-datepicker dl {
    overflow: hidden;
    *zoom: 1; }
    /* line 197, APKT.scss */
    .ui-datepicker dl dt {
      clear: left; }
    /* line 200, APKT.scss */
    .ui-datepicker dl dd {
      float: left;
      margin: 3px 2%;
      width: 96%; }
  /* line 206, APKT.scss */
  .ui-datepicker .ui-slider {
    background: #ffc82d; }
    /* line 208, APKT.scss */
    .ui-datepicker .ui-slider a {
      background: #0022b4;
      border-color: rgba(0, 34, 180, 0.5); }
  /* line 213, APKT.scss */
  .ui-datepicker .ui-widget-header {
    border: none; }
  /* line 216, APKT.scss */
  .ui-datepicker .ui-widget-content {
    border-color: #0022b4; }
  /* line 219, APKT.scss */
  .ui-datepicker .ui-datepicker-buttonpane {
    border: none;
    margin: 0; }
    /* line 222, APKT.scss */
    .ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
      display: none; }
    /* line 225, APKT.scss */
    .ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-close {
      color: #0022b4; }
  /* line 229, APKT.scss */
  .ui-datepicker .ui-tpicker-grid-label td {
    font-size: 75%; }
  /* line 232, APKT.scss */
  .ui-datepicker .ui-slider .ui-slider-handle {
    width: 4px;
    margin-left: -2px; }

/* line 239, APKT.scss */
input[type="time"]::-webkit-clear-button, input[type="time"]::-webkit-inner-spin-button {
  display: none; }

/* line 243, APKT.scss */
#QRCode {
  text-align: center; }
  /* line 245, APKT.scss */
  #QRCode *:only-child {
    margin: 1.5em auto; }

/* line 249, APKT.scss */
#Disclaimers {
  background: white; }
  /* line 251, APKT.scss */
  #Disclaimers p {
    color: rgba(0, 34, 180, 0.5); }
  /* line 254, APKT.scss */
  #Disclaimers .DisclaimerEmphasis {
    color: #a55121; }

@media only screen {
  /* line 261, APKT.scss */
  h1 {
    -webkit-border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    -ms-border-radius: 0.25em;
    -o-border-radius: 0.25em;
    border-radius: 0.25em; }

  /* line 261, APKT.scss */
  h2 {
    -webkit-border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    -ms-border-radius: 0.25em;
    -o-border-radius: 0.25em;
    border-radius: 0.25em; }

  /* line 261, APKT.scss */
  h3 {
    -webkit-border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    -ms-border-radius: 0.25em;
    -o-border-radius: 0.25em;
    border-radius: 0.25em; }

  /* line 261, APKT.scss */
  h4 {
    -webkit-border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    -ms-border-radius: 0.25em;
    -o-border-radius: 0.25em;
    border-radius: 0.25em; }

  /* line 261, APKT.scss */
  h5 {
    -webkit-border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    -ms-border-radius: 0.25em;
    -o-border-radius: 0.25em;
    border-radius: 0.25em; }

  /* line 261, APKT.scss */
  h6 {
    -webkit-border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    -ms-border-radius: 0.25em;
    -o-border-radius: 0.25em;
    border-radius: 0.25em; }

  /* line 266, APKT.scss */
  .ValueBlock dl, .ValueBlock .ValueBlockProper {
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
    border-radius: 1em; } }
@media screen {
  /* line 276, APKT.scss */
  input, select, textarea {
    padding: 0.125em; }

  /* line 279, APKT.scss */
  .ValueBlock {
    margin: 0 0.125em 2em;
    width: 29em; }
    /* line 282, APKT.scss */
    .ValueBlock dl, .ValueBlock .ValueBlockProper {
      margin: 0.5em auto;
      border-width: 3px;
      padding: 0.375em;
      width: 28em; }
    /* line 288, APKT.scss */
    .ValueBlock dt {
      margin-right: 0.75em;
      width: 8em;
      min-width: 8em; }
    /* line 293, APKT.scss */
    .ValueBlock dd {
      margin-left: 8.75em; }

  /* line 297, APKT.scss */
  #ValueBlocks {
    padding: 0 0.25em; }

  /* line 300, APKT.scss */
  .InputPrint, .PrintOnly {
    display: none; } }
@media screen and (max-width: 1479px) {
  /* line 305, APKT.scss */
  .ValueBlock {
    margin-bottom: 1.5em;
    width: 28em; }
    /* line 308, APKT.scss */
    .ValueBlock dl, .ValueBlock .ValueBlockProper {
      border-width: 2px;
      width: 27em; } }
@media screen and (max-width: 1403px) {
  /* line 319, APKT.scss */
  .ValueBlock {
    margin: 0 1% 1.25em;
    width: 47.5%; }
    /* line 322, APKT.scss */
    .ValueBlock dl, .ValueBlock .ValueBlockProper {
      width: 100%; }
    /* line 325, APKT.scss */
    .ValueBlock dt {
      margin-right: 2.5%;
      width: 37.5%; }
    /* line 329, APKT.scss */
    .ValueBlock dd {
      margin-left: 40%; }

  /* line 333, APKT.scss */
  #ValueBlocks {
    padding: 0 1.25% 0 0.75%; } }
@media screen and (max-width: 939px) {
  /* line 339, APKT.scss */
  .ValueBlock {
    margin: 0 0 1.25em;
    width: 96%; } }
@media screen and (max-width: 719px) {
  /* line 349, APKT.scss */
  input, select, textarea {
    padding: 0 0.125em; }

  /* line 352, APKT.scss */
  .ValueBlock {
    margin: 0 0 1em; }
    /* line 354, APKT.scss */
    .ValueBlock dl, .ValueBlock .ValueBlockProper {
      font-size: 0.75em;
      margin: 0.25em auto;
      padding: 0.5em; }
    /* line 359, APKT.scss */
    .ValueBlock dt {
      margin-right: 2.5%;
      width: 37.5%;
      min-width: 8em;
      height: 1.96875em;
      line-height: 1.875; }
    /* line 366, APKT.scss */
    .ValueBlock dd {
      margin-left: 40%;
      height: 1.96875em;
      line-height: 1.875; }
      /* line 370, APKT.scss */
      .ValueBlock dd input, .ValueBlock dd select {
        height: 1.40625em; } }
@media screen and (max-width: 639px) {
  /* line 379, APKT.scss */
  .ValueBlock dl, .ValueBlock .ValueBlockProper {
    border-left-width: 0;
    border-right-width: 0; }

  /* line 384, APKT.scss */
  #ValueBlocks {
    padding: 0 2px; } }
@media screen and (max-width: 479px) {
  /* line 391, APKT.scss */
  .ValueBlock dl, .ValueBlock .ValueBlockProper {
    border-width: 0; }

  /* line 395, APKT.scss */
  #ValueBlocks {
    padding: 0 1px; } }
@media print {
  @page {
    margin: 1cm; }

  /* line 410, APKT.scss */
  * {
    color: black !important;
    border-color: black !important;
    background-color: white; }

  /* line 415, APKT.scss */
  body, h1, h2, h3 {
    font-size: 8pt;
    background-color: white; }

  /* line 419, APKT.scss */
  sub {
    vertical-align: baseline;
    position: relative;
    bottom: -0.6em;
    font-size: 62.5%; }

  /* line 425, APKT.scss */
  input, select, textarea {
    display: none; }

  /* line 428, APKT.scss */
  .HideInPrint, .ui-datepicker-div {
    display: none; }

  /* line 431, APKT.scss */
  .InputPrint {
    display: inline;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-style: solid;
    border-bottom-width: 1pt; }

  /* line 442, APKT.scss */
  .ValueBlock {
    margin: 0.5em;
    width: 20.5em; }
    /* line 445, APKT.scss */
    .ValueBlock dl, .ValueBlock .ValueBlockProper {
      background: white;
      margin: 0;
      border-width: 1pt;
      padding: 0.75em 0.5em;
      width: 20.0em; }
    /* line 452, APKT.scss */
    .ValueBlock dt {
      margin-right: 0.5em;
      width: 7em;
      height: 16.5pt;
      line-height: 1.5; }
    /* line 458, APKT.scss */
    .ValueBlock dd {
      margin-left: 7.5em;
      height: 16.5pt;
      line-height: 1.5; }

  /* line 464, APKT.scss */
  #ValueBlocks {
    -webkit-column-width: 21.5em;
    -moz-column-width: 21.5em;
    -ms-column-width: 21.5em;
    -o-column-width: 21.5em;
    column-width: 21.5em;
    -webkit-column-gap: 0.75em;
    -moz-column-gap: 0.75em;
    -ms-column-gap: 0.75em;
    -o-column-gap: 0.75em;
    column-gap: 0.75em; }

  /* line 468, APKT.scss */
  #QRCode {
    border: none; } }
